
body {
    background-color: black;
    background-size: cover;

}
main {
    padding: 5px;
}
.window {
    background-color: white;
    width: 400px;
    height: 500px;
    margin: 10vh auto;
    border-radius: 10px;
    font-family: 'Helvetica';
}
.topSearch {
    height: 20%;
    background-color: rgb(22, 49, 206);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    position:relative;
  }
.searchBox {
    padding: 18px;
    position: absolute;
    left: 50%;
    top:50%;
    transform:translate(-50%,-50%);    
}
.temperature {
    text-align: left;
    float: left;
    margin-left: 10px;
}
.otherInfo {
    text-align: right;
    margin-right: 10px;
}
#searchButton {
    margin: 10px;
}
#searchText {
    color: black;
    height:30px;
    border-radius: 5px;
    border-style:none;
    outline:none;
    padding-right:1px;
    padding-left:1px;
    text-align:center;
}
#cityName {
    font-size: 30px;
    color:  rgb(25, 22, 197);
    font-weight: 900;
    text-align: center;
    padding-top: 20px;
    
}
#weatherIcon {
    text-align: center;
}
#mainWeather {
    font-size: 25px;
    text-align: center;
    padding-bottom: 20px;
    
}
#temp {
    font-size: 25px;
    font-weight: bold;
    
}
#minTemp {
    font-size: 25px;
    font-weight: bold;
}
#maxTemp {
    font-size: 25px;
    font-weight: bold;
}
#humidity {
    font-size: 25px;
    font-weight: bold;
}
#sunrise {
    font-size: 25px;
    font-weight: bold;
}
#sunset {
    font-size: 25px;
    font-weight: bold;
}

